In [1]:
import pandas as pd

In [2]:
school_data_path = "PyCitySchools/Resources/schools_complete.csv"
student_data_path = "PyCitySchools/Resources/students_complete.csv"

school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

merged_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

merged_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
school_count = len(merged_data["school_name"].unique())

print(school_count)

15

In [14]:
student_count = len(merged_data["Student ID"].count())

print(student_count)

39170

In [45]:
total_budget = school_data["budget"].sum()

print(total_budget)

24649428

In [6]:
average_math = merged_data["math_score"].mean()

print(average_math)

78.98537145774827

In [7]:
average_reading = merged_data["reading_score"].mean()

print(average_reading)

81.87784018381414

In [26]:
passing_math_count = merged_data[(merged_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [28]:
passing_reading_count = merged_data[(merged_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [36]:
combined_passing_count = merged_data[(merged_data["math_score"] >= 70) & (merged_data["reading_score"] >= 70)].count()["student_name"]

combined_passing_percent = combined_passing_count / float(student_count) *100

combined_passing_percent

65.17232575950983

In [56]:
district_data = {"School Count": [school_count],
                "Total Students": [student_count],
                "Total Budget": [total_budget],
                "Average Math Score": [average_math],
                "Average Reading Score": [average_reading],
                "% Passing Math": [passing_math_percentage],
                "% Passing Reading": [passing_reading_percentage],
                "% Passing Overall": [combined_passing_percent]}

summary_df = pd.DataFrame(district_data)

summary_df

,School Count,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326